header * {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

header img {
  display: inline-flex;
}

.forkKnifeLogo {
  display: inline-flex;
  height: 75px;
}

.headerText {
  display: inline-flex;
  flex-direction: column;
  /* height: 100px;
  length: 150px; */
  flex-wrap: nowrap;
}

.delicious {
  display: inline-flex;
  font-family: 'Great Vibes', cursive;
  font-size: 32pt;
  margin-top: 10px;
}

.subscript {
  display: inline-flex;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 10pt;
}

.socialMedia {
  display: inline-flex;
  color: grey;
  justify-content: right;
  float: right;
  margin-top: 55px;
}